#auth {
  height: 100%;
  width: 100%;
  min-width: 750px;
  display: flex;
  position: relative;

  .btn.home {
    position: absolute;
    top: 24px;
    left: 36px;
    font-size: 24px;
    font-weight: 600;
  }

  &.login {
    color: var(--color-base2);
    background-color: var(--color-text);

    .home {
      color: var(--color-base2);
      text-shadow: 0 0 2px var(--color-base2);
    }

    .form main {
      position: relative;

      .loginError {
        position: absolute;
        top: -88px;
      }
    }

    .inputContainer {
      border: 1px solid var(--color-base2);
    }
  }

  &.signup {
    color: var(--color-text);
    background-color: var(--color-base2);

    .home {
      color: var(--color-text);
      text-shadow: 0 0 2px var(--color-text);
    }

    .inputContainer {
      border: 1px solid var(--color-text);
    }
  }

  .authImage,
  .formContainer {
    height: 100%;
    width: 100%;
    flex: 1 1 50%;
  }

  .authImage {
    object-fit: cover;
    overflow: hidden;
  }

  .formContainer {
    display: flex;
    align-items: center;
  }

  .form {
    width: 50%;
    margin-left: 10%;

    main {
      margin-top: 96px;

      .inputContainer {
        max-width: 400px;
        min-width: 250px;
      }
    }
  }

  footer {
    .buttons {
      margin-bottom: 24px;
      display: flex;
      gap: 12px;
    }

    a {
      display: inline;
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
