.partyDetails {
  min-width: max-content;
  width: 50%;
}

.partyDetails * {
  margin: 0;
}

.partyDetails .details {
  padding: 32px;
  border: 1px solid black;
  border-radius: 8px;
}

.partyDetails .details>* {
  padding: 12px 0;
}

.partyDetails .partyName {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.partyDetails .partyLeader, .dropListContainer>p {
  font-size: 24px;
  font-weight: 700;
}

.partyDetails .partyMembers {
  font-size: 16px;
  font-weight: 700;
}

.partyDetails .partyMember {
  font-size: 16px;
  padding: 6px 0;
}

.partyDetails .buttons {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  grid-column-gap: 5px;
}

.buttons .edit {
  grid-area: 1 / 1 / 2 / 2;
}

.buttons .delete {
  grid-area: 1 / 2 / 2 / 3;
}

.buttons .add {
  grid-area: 1 / 4 / 2 / 5;
}

.partyDetails .dropListContainer {
  margin-top: 36px;
}

.partyDetails .dropListContainer .heading {
  margin-bottom: 36px;
}

.partyDetails .drop {
  padding: 12px;
  margin-bottom: 12px;
  background-color: var(--color-base2);
  border-radius: 4px;
}

.partyDetails .drop:hover {
  cursor: pointer;
  user-select: none;
  opacity: 0.75;
}

.partyDetails .bossName, .partyDetails .itemName {
  padding: 12px 0
}

.partyDetails .bossName {
  font-weight: 700;
}