.partyDetails {
  width: 80%;
  min-height: 100%;
  margin: 0 auto;

  .details,
  .drops {
    padding: 24px;
    background-color: var(--color-base2);
    border-radius: 4px;
  }

  .details {
    position: relative;

    .partyName {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 32px;
      padding-bottom: 32px;
      border-bottom: 1px solid var(--color-base);
    }

    .partyLeader {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    .partyMembers {
      font-size: 16px;
      font-weight: bold;

      .partyMember {
        font-weight: normal;
      }
    }

    .modifyingButtons {
      display: flex;
      gap: 12px;
      padding: 12px;
      position: absolute;
      top: 24px;
      right: 24px;

      .edit,
      .delete {
        padding: 0;
        font-size: 20px;
      }
    }

    .createButton {
      padding: 12px 12px 0;
      position: absolute;
      bottom: 24px;
      right: 24px;

      .add {
        font-size: 14px;
        padding: 0;
      }
    }
  }

  .drops {
    margin-top: 48px;

    .heading {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--color-base);
    }

    .dropList {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    .drop {
      cursor: pointer;
      user-select: none;
      padding: 12px;
      margin-bottom: 12px;
      background-color: var(--color-base);
      border-radius: 4px;
      position: relative;

      &[sold='false']::after,
      &[sold='true']::after {
        font-size: 13px;
        position: absolute;
        top: 12px;
        right: 12px;
      }

      &[sold='false']::after {
        content: '[pending]';
        color: yellow;
      }

      &[sold='true']::after {
        content: '[sold]';
        color: gray;
      }

      &:hover {
        filter: brightness(1.1);
      }

      .bossName {
        font-weight: bold;
        margin-bottom: 24px;
      }
    }
  }
}
