:root {
  --color-base: rgb(57, 62, 70);
  --color-base2: rgb(34, 40, 49);
  --color-text: rgb(238, 238, 238);
}

html, body, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: var(--color-text);
}

body * {
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  min-height: 64px;
  /* position: relative; */
}

main {
  padding: 64px 0;
  width: 100%;
  flex: 1 1 auto;
  background-color: var(--color-base);
}

a {
  text-decoration: none;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 100%;
  margin: 8px 0;
}

.btn {
  cursor: pointer;
  user-select: none;
  padding: 8px 16px;
  color: var(--color-text);
  background-color: var(--color-base2);
  border: none;
  border-radius: 4px;
}

.btn:hover {
  opacity: .75;
}

.btn.transparent {
  background-color: inherit;
}