#dashboard {
  height: 100%;
  display: flex;

  .sidebar {
    flex: none;
    width: 300px;
    height: 100%;
    background-color: var(--color-base2);
    border-right: 1px solid gray;
    overflow-y: auto;

    .heading {
      font-size: 24px;
      font-weight: 700;
      padding: 12px;
      margin: 0;
      margin-bottom: 12px;
    }

    .goBack {
      position: absolute;
      left: 300px;
      z-index: 5;
    }
  }

  .main {
    min-width: max-content;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
  }
}
