.dropsContainer {
  padding: 12px;

  .drop {
    cursor: pointer;
    user-select: none;
    padding: 12px;
    border-radius: 4px;

    &.selected,
    &:hover,
    &:active {
      background-color: var(--color-base);
    }

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 1;
    }

    .bossName {
      margin: 0;
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 700;
    }

    .itemName {
      margin: 0;
      font-size: 15px;
    }
  }
}
