/* .btn.createParty {
  width: 100%;
  background-color: var(--color-base);
  font-size: 16px;
  text-align: center;
  border-radius: 0;
} */
.partiesContainer {
  padding: 12px;
}

.party {
  cursor: pointer;
  user-select: none;
  padding: 12px;
  border-radius: 4px;
}

.party.selected {
  background-color: var(--color-base);
}

.party:hover {
  background-color: var(--color-base);
  opacity: 0.75;
}

.party:active {
  background-color: var(--color-base);
  opacity: 1;
}

.leaderOf {
  border-bottom: 1px solid black;
}

.party .partyName {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}

.party .partyLeader {
  margin: 0;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 600;
}

.party .partyMembers {
  font-size: 13px;
}