.btn.createParty {
  width: 100%;
  background-color: var(--color-base);
  font-size: 16px;
  text-align: center;
  border-radius: 0;
}

.party {
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
}

.party:hover {
  background-color: var(--color-base);
}

.leaderOf, .memberOf {
  margin: 0 12px;
  padding: 12px 0;
}

.leaderOf {
  border-bottom: 1px solid black;
}

.partyName {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}

.partyLeader {
  margin: 0;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 600;
}

.partyMembers {
  font-size: 13px;
}