.dropdownContainer {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  position: relative;
}

/* .dropdownContainer.showMenu {
  z-index: 10;
} */

.search.dropdown {
  width: 100%;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
}

.search.dropdown input {
  margin: 0;
  padding: 4px 8px;
  border: none;
  background-color: transparent;
  font-size: inherit;
}
