.dropDetails {
  min-width: max-content;
  width: 50%;
  position: relative;
}

.dropDetails .details {
  padding: 32px;
  border: 1px solid black;
  border-radius: 8px;
  padding-right: 250px;
}

.dropDetails .details > * {
  padding: 12px 0;
}

.dropDetails .bossName {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.dropDetails .itemName {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropDetails .bossImg {
  width: 200px;
  height: 200px;
  object-fit: contain;
  position: absolute;
  top: 25px;
  right: 25px;
}

.dropDetails .itemImg {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.dropDetails .partyMembers {
  font-size: 16px;
  font-weight: 700;
}

.dropDetails .partyMember {
  font-size: 16px;
  padding: 6px 0;
}

.dropDetails .buttons {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  grid-column-gap: 5px;
}

.buttons .edit {
  grid-area: 1 / 1 / 2 / 2;
}

.buttons .delete {
  grid-area: 1 / 2 / 2 / 3;
}

.screenshot {
  max-width: 450px;
  object-fit: contain;
}

.isSold {
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
  opacity: 0.75;
}

.sale {
  margin-top: 32px;
}

.saleConfirmation {
  margin-top: 16px;
  max-height: 100px;
}

.payments {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payment {
  padding: 24px;
  border: 1px solid black;
  border-radius: 4px;
}

.payment .amount {
  margin-top: 6px;
  font-size: 14px;
}
