.dropDetails {
  min-width: fit-content;
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;

  .details {
    padding: 24px;
    background-color: var(--color-base2);
    border-radius: 4px;

    .info {
      height: 300px;
      padding-right: 250px;
      position: relative;

      .bossName {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
      }

      .itemName {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .bossImg {
        max-width: 200px;
        max-height: 200px;
        object-fit: contain;
        position: absolute;
        top: 48px;
        right: 48px;
      }

      .itemImg {
        width: 35px;
        height: 35px;
        object-fit: contain;
      }

      .partyMembers {
        display: flex;
        flex-direction: column;
        gap: 4px;

        > p {
          font-weight: bold;
          margin-bottom: 4px;
        }

        .partyMember {
          display: flex;
          align-items: center;
          gap: 4px;

          .status {
            width: 15px;
            height: 15px;
            font-size: 12px;
            color: green;
          }

          .payButton {
            margin-left: 12px;
            padding: 0;
          }
        }
      }

      .isSold {
        font-size: 16px;
        font-weight: 500;
        margin-left: 12px;
        opacity: 0.75;
      }
    }

    .screenshot {
      max-width: 450px;
      max-height: 450px;
      object-fit: contain;
    }
  }

  .modifyingButtons {
    display: flex;
    gap: 12px;
    padding: 12px;
    position: absolute;
    top: 24px;
    right: 24px;

    .edit,
    .delete {
      padding: 0;
      font-size: 20px;
    }
  }

  .sale {
    margin-top: 64px;

    .price {
      &::before {
        content: 'Sold for: ';
      }

      &::after {
        content: ' mesos';
      }
    }

    .split {
      &::before {
        content: 'Split: (';
      }

      &::after {
        content: ') per person';
      }
    }

    .saleConfirmation {
      margin-top: 16px;
      max-height: 100px;
    }
  }
}
