.partyForm, .dropForm {
  width: 500px;
  min-width: max-content;
  min-height: max-content;
}

.formContent {
  margin-top: 80px;
  margin-bottom: 72px;
}

.btn.filled.submit {
  color: black;
  background-color: var(--color-text);
}

.tag {
  width: fit-content;
  display: flex;
  gap: 5px;
  background-color: var(--color-base);
  padding: 4px;
  border-radius: 4px;
  margin-right: 3px;
}

.tag .x:hover {
  cursor: pointer;
}

.searchMenu {
  color: black;
  background-color: white;
}