form.form {
  width: 100%;

  header {
    .formTitle {
      font-size: 28px;
    }
  }

  main {
    margin: 32px 0;

    > .inputContainer {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}
