.formContainer {
  width: 400px;
  min-width: fit-content;
  min-height: max-content;
}

.formTitle {
  font-size: 28px;
}

.formContent {
  margin: 32px 0;
}

.formContent > * {
  margin-bottom: 12px;
}

.btn.filled.submit {
  color: black;
  background-color: var(--color-text);
}

.searchMenu {
  color: black;
  background-color: white;
}

.memberSearch {
  width: 100%;
}
