.partyForm, .dropForm {
  width: 400px;
  min-width: fit-content;
  min-height: max-content;
}

.formTitle {
  font-size: 28px;
}

.formContent {
  margin-bottom: 64px;
}

.btn.filled.submit {
  color: black;
  background-color: var(--color-text);
}

.tag {
  width: fit-content;
  display: inline-flex;
  gap: 5px;
  background-color: var(--color-base);
  padding: 4px;
  border-radius: 4px;
  margin-right: 3px;
}

.tag .x:hover {
  cursor: pointer;
}

.searchMenu {
  color: black;
  background-color: white;
}

.memberSearch {
  width: 100%;
}