.sddContainer {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  margin: 8px 0;
}

.sddContainer.disabled {
  background-color: gray;
}

.sddContainer input {
  margin: 0;
  padding: 0 8px;
  border: none;
  background-color: transparent;
}

.matches {
  margin: 8px 0;
  max-height: 115px;
  overflow: auto;
}

.match {
  cursor: pointer;
  font-size: 15px;
  padding: 2px 8px;
  border-bottom: 1px solid black;
}

.match:hover {
  background-color: gray;
}

.match:first-child {
  border-top: 1px solid black;
}